.container {
  position: relative;
}

.root {
  background-color: #f1f1f1;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.title {
  position: absolute;
  transform: rotate(-90deg);
  left: -10vw;
  top: 50%;
}

.body {
  width: 70%;
  margin: 0 auto;
  background-color: var(--white);
  display: flex;
  padding: 12rem 8rem;
  justify-content: space-between;
}

.item {
  line-height: 5.6rem;
}

.items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8rem;
  justify-content: space-around;
}

@media (max-width: 1250px) {
  .body {
    width: 80%;
  }

  .title {
    left: -16rem;
  }
}

@media (max-width: 1024px) {
  .body {
    padding: 12rem 6rem;
  }
}

@media (max-width: 768px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .title {
    /* left: -25rem; */
    position: relative;
    transform: rotate(0);
    left: 0;
    top: 0;
    padding: 6rem 2rem;
    width: 100%;
    text-align: center;
  }

  .body {
    width: 100%;
    padding-top: 0;
  }

  .container {
    width: 100%;
  }

  .root {
    background-color: #fafafa;
    width: 100%;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }
}
