.container {
  position: relative;
}

.root {
  background-color: #f1f1f1;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.title {
  position: absolute;
  transform: rotate(90deg);
  left: -10vw;
  top: 50%;
}

.body {
  width: 70%;
  margin: 0 auto;
  background-color: var(--white);
  display: flex;
  padding: 12rem 8rem;
  justify-content: space-between;
}

.item {
  line-height: 5.6rem;
}

.items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 8rem;
  justify-content: space-around;
}

@media (max-width: 1250px) {
  .body {
    width: 80%;
  }

  .title {
    left: -160px;
  }
}

@media (max-width: 1024px) {
  .body {
    padding: 12rem 6rem;
  }
}

@media (max-width: 768px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}
