.childeren {
  min-height: 80vh;
}

.whBox {
  width: 100%;
  position: fixed;
  bottom: 4rem;
  right: 2.5vw;
  width: 90vw;
  margin: 0 auto !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
