.body {
  width: 60%;
  margin: 0 auto;
  padding: 8rem 5rem;
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1024px) {
  .body {
    width: 80%;
  }

  .title {
    left: -2rem !important;
  }
}

@media (max-width: 768px) {
  .title {
    left: -4rem !important;
  }
}

@media (max-width: 600px) {
  .body {
    width: 100%;
    padding-left: 12rem;
  }

  .container {
    width: 100%;
  }
}

.container {
  height: 100%;
}

.root {
  position: relative;
}

.title {
  position: absolute;
  transform: rotate(-90deg) !important;
  left: 6rem;
  top: 50%;
  animation-fill-mode: backwards;
}
