.page {
  margin-bottom: 2rem;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
}

.root {
  padding: 4rem 0;
}

.root > div {
  font-size: 1.6rem;
}

.logo {
  width: 15rem !important;
  height: auto;
  margin-left: -1rem;
  position: relative;
}

.item:not(:last-of-type) {
  margin-bottom: 3.5rem;
}

.top .logoBox {
  margin-bottom: 4rem;
}

.item .icon {
  margin-right: 1rem;
  width: 2.5rem;
  margin-top: 0.5rem;
}

.data {
  color: #fff;
}

.logoBox .item {
  display: flex;
  align-items: center;
}

.logoBox .item .data {
  margin-left: 1rem;
}

.bottom {
  margin-top: 2rem;
}

.left1,
.center1,
.right1 {
  margin-right: 15rem;
}

.social {
  transform: translateX(-3.5rem);
}

.socialIcon {
  margin-left: 4rem;
  cursor: pointer !important;
}

.left .item {
  margin-bottom: 1.5rem;
}

.data {
  max-width: 35rem;
}

@media (max-width: 1320px) {
  .right1 {
    margin-right: 4rem !important;
  }
}

@media (max-width: 1200px) {
  .left1 {
    margin-right: 8rem;
  }

  .center1 {
    margin-right: 8rem;
  }

  .right1 {
    margin-right: 8rem;
  }
}

@media (max-width: 1000px) {
  .right1 {
    margin-right: 0rem !important;
  }
}

@media (max-width: 950px) {
  .right {
    margin-left: -60px;
  }
}

/* @media (max-width: 768px) {
  .left1 {
    margin-right: 4rem;
  }

  .center1 {
    margin-right: 4rem;
  }

  .right1 {
    margin-right: 4rem;
  }
} */

@media (max-width: 850px) {
  .right {
    margin-left: 0px;
  }

  .logo {
    margin: 0 auto;
  }

  .top {
    flex-direction: column;
    align-items: center;
  }

  .bottom {
    justify-content: center !important;
  }

  .left > div {
    text-align: center;
  }

  .item {
    flex-direction: column;
  }

  .icon {
    margin-bottom: 1rem;
  }

  .data {
    margin-top: 0;
  }

  .dataEmail {
    margin-top: -2rem !important;
  }

  .right {
    margin-top: 6rem;
  }

  .right1 {
    margin-right: 0;
  }

  .social {
    transform: translateX(-2rem);
  }

  .dataEmail2 {
    margin-left: 0 !important;
    margin-top: 0.5rem !important;
    padding-left: 0 !important;
    border-left: 0px solid #fff !important;
  }
}
