.left {
  margin-right: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.fullRow {
  grid-column: 1/3;
}

.label {
  grid-column: 1/3;
}

.btn {
  grid-column: 1/3;
}

.input::placeholder {
  color: #b9b3b3;
}

.greyBox {
  color: #b9b3b3;
  padding: 1rem 2rem;
  background-color: #f6f6f6;
}
