.root {
}

.titleBox {
  top: 50%;
  left: 5vw;
  transform: translateY(-50%);
}

.text {
  max-width: 50%;
}

.container {
  height: 100%;
  min-height: 90vh;
}

.titleBox {
  /* animation-delay: 1s;
  animation-name: slideInOut2;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  opacity: 0; */
}

.left {
  /* margin-left: 100vw; */
  /* animation-name: slideInOut;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite; */
}

@media (max-width: 600px) {
  .right {
    width: 100vw;
  }

  .left {
    display: none;
  }

  .titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    text-align: center;
  }

  .text {
    text-align: center;
  }
}
