@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.2rem;
  overflow-x: hidden;
  color: #323232;
  background: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */

.heading-1 {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.6rem;

  letter-spacing: 0.2px;

  color: #848484;
}

.heading-2 {
  font-family: "Grandstander";
  font-style: normal;
  font-weight: 800;
  font-size: 4.8rem;
  line-height: 4.8rem;

  color: #bb6937;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heading-3 {
  font-family: "Grandstander";
  font-style: normal;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 3.2rem;

  color: #bb6937;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.heading-4 {
  font-family: "Grandstander";
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 2.8rem;

  text-align: right;

  color: #fbfbfb;
}

.heading-5 {
  font-family: "Grandstander";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.8rem;

  color: #bb6937;
}

.heading-border {
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;

  text-align: center;

  color: #bb6937;
  -webkit-text-stroke: 2px #fde9d5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.normal {
  font-weight: normal;
}

.text-small {
  font-size: 12px;
}

.text-white {
  color: #fff;
}

.text-white-2 {
  color: #fafafa;
}

.text-black {
  color: #000;
}

.text-blue {
  color: #072854;
}

.text-yellow {
  color: #f8bc24;
}

.bg-white {
  background-color: #fff;
}

.bg-white-2 {
  background-color: #fafafa;
}

.bg-black {
  background-color: #000;
}

.bg-blue {
  background-color: #072854;
}

.bg-yellow {
  background-color: #f8bc24;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.text-underline {
  text-decoration: underline;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-between {
  justify-self: space-between;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.firstSection {
  padding-top: 16rem;
  padding-bottom: 8rem;
}

.section {
  padding: 8rem 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-right: 2.5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

/* width */

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-100-vh {
  height: 100vh;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}
