@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    font-size: 60% !important;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 57.5% !important;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 55% !important;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 52.5% !important;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50% !important;
  }
}

:root {
  --blue: #072854;
  --white: #fafafa;
  --black: #323232;
  --grey: #848484;
  --yellow: #f8bc24;
  --dummy-grey: #b1bed8;
  --pink: #ffd2dd;
  --animate-duration: 2s;
  --animate-delay: 2s;
  --animate-repeat: 1;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */

  background: var(--white);
  font-family: "Mulish" !important;
  font-weight: 400;
  font-size: 2rem !important;
  line-height: 2.6rem !important;
  /* or 130% */

  letter-spacing: 0.3px !important;
  overflow-x: hidden !important;
  color: var(--black) !important;
}

.root {
  min-height: 80vh;
}

.btn {
  padding: 1.2rem 1.8rem;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.3px;
}

.btn-contained {
  background-color: var(--yellow);
  color: var(--blue);
}

.btn-outline {
  border: 1px solid var(--yellow);
  color: var(--yellow);
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */

.heading-1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.6rem;

  letter-spacing: 0.2px;

  color: var(--grey);
}

.heading-2 {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.3rem;

  color: var(--blue);
}

.heading-3 {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;

  letter-spacing: 0.1px;

  color: var(--grey);
}

.bg-white-2 {
  background-color: #f1f1f1;
}

.heading-4 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.8rem;
  /* identical to box height, or 60% */

  letter-spacing: 0.3px;

  color: #ffffff;
}

.heading-5 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.8rem;

  color: #bb6937;
}

.heading-border {
  font-weight: 900;
  font-size: 6.4rem;
  line-height: 135%;

  text-align: center;

  color: #bb6937;
  -webkit-text-stroke: 2px #fde9d5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.normal {
  font-weight: normal;
}

.light {
  font-weight: 200;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.text-small {
  font-size: 1.2rem;
  line-height: 145%;
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-blue {
  color: var(--blue);
}

.text-yellow {
  color: var(--yellow) !important;
}

.text-pink {
  color: var(--pink);
}

.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-dummy-grey {
  background-color: var(--dummy-grey);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.container {
  width: 85vw;
  margin: 0 auto;
}

.text-underline {
  text-decoration: underline;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-self-start {
  justify-self: flex-start;
}

.justify-self-end {
  justify-self: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-between {
  justify-self: space-between;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.firstSection {
  padding-top: 16rem;
  padding-bottom: 8rem;
}

.section {
  padding: 8rem 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-5 {
  margin-bottom: 2.5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-5 {
  margin-top: 2.5rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-2 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 1.5rem;
}

.pt-4 {
  padding-top: 2rem;
}

.pt-5 {
  padding-top: 2.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pb-2 {
  padding-bottom: 1rem;
}

.pb-3 {
  padding-bottom: 1.5rem;
}

.pb-4 {
  padding-bottom: 2rem;
}

.pb-5 {
  padding-bottom: 2.5rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.5rem;
}

.pr-2 {
  padding-right: 1rem;
}

.pr-3 {
  padding-right: 1.5rem;
}

.pr-4 {
  padding-right: 2rem;
}

.pr-5 {
  padding-right: 2.5rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pl-4 {
  padding-left: 2rem;
}

.pl-5 {
  padding-left: 2.5rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.5rem;
}

.mr-2 {
  margin-right: 1rem;
}

.mr-3 {
  margin-right: 1.5rem;
}

.mr-4 {
  margin-right: 2rem;
}

.mr-5 {
  margin-right: 2.5rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 1rem;
}

.ml-3 {
  margin-left: 1.5rem;
}

.ml-4 {
  margin-left: 2rem;
}

.ml-5 {
  margin-left: 2.5rem;
}

/* width */

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.w-25 {
  width: 25%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-100-vh {
  height: 100vh;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

.first-section {
  margin-top: 12rem;
}

input {
  background: #f6f6f6;
  border-radius: 10px;
  font-weight: 500;
  font-size: 2.1rem;
  /* identical to box height, or 267% */
  padding: 1rem 2rem;
  letter-spacing: 0.2px;
  color: #000 !important;
  outline: none;
  border: none;
}

input::placeholder {
  color: #b9b3b3 !important;
}

.input:focus {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  background: #f6f6f6;
  border-radius: 10px;
  font-weight: 500;
  font-size: 2.1rem;
  /* identical to box height, or 267% */
  padding: 1rem 2rem;
  letter-spacing: 0.2px;

  color: #000;
  outline: none;
  border: none;
  height: 22.7rem;
}

.btn-white {
  font-size: 2.1rem;
  /* identical to box height, or 267% */

  letter-spacing: 0.2px;

  color: #b9b3b3;
}

input::placeholder {
  color: #b9b3b3;
}

.pointer {
  cursor: pointer;
}

.MuiInputBase-input.MuiInputBase-inputAdornedStart::after {
  display: none;
  opacity: 0;
}

.animate__animated-slow {
  animation-duration: 1s;
}

.splide__arrow {
  background-color: transparent !important;
  opacity: 1 !important;
}

.splide__arrow svg {
  width: 8rem !important;
  height: 8rem !important;
  fill: var(--blue) !important;
}

.splide__pagination__page {
  background-color: var(--blue) !important;
  opacity: 1;
}

.splide__pagination__page.is-active {
  border: 2px solid var(--yellow);
  width: 1rem;
  height: 1rem;
  background-color: var(--blue) !important;
  opacity: 1;
}

@media (max-width: 1000px) {
  .splide__pagination {
    margin-bottom: -4rem !important;
  }
}

@keyframes slideInOut {
  0% {
    margin-left: 100vw;
  }

  10% {
    margin-left: -70vw;
  }

  90% {
    margin-left: -70vw;
  }

  100% {
    margin-left: 100vw;
  }
}

@keyframes slideInOutMobile {
  0% {
    margin-left: 100vw;
  }

  10% {
    margin-left: -100vw;
  }

  90% {
    margin-left: -100vw;
  }

  100% {
    margin-left: 100vw;
  }
}

@keyframes slideInOut2 {
  0% {
    margin-left: -20vw;
    opacity: 0;
  }

  10% {
    margin-left: 0;
    opacity: 1;
  }

  90% {
    margin-left: 0;
    opacity: 1;
  }

  100% {
    margin-left: 20vw;
    opacity: 0;
  }
}


